<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav mode="side" position="end" [opened]="false">
    sidenav content
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="infos">
      <!-- MODE  -->
      <div>
        <h3>Mode</h3>
        <p>{{ MODE | uppercase }} mode</p>
        Switch to :
        <button *ngIf="MODE !== 'read'" (click)="onChangeMode('read')">
          Read mode
        </button>
        <button *ngIf="MODE !== 'edit'" (click)="onChangeMode('edit')">
          Edit mode
        </button>
      </div>
      <!-- Selection  -->
      <div>
        <h3>Selection</h3>
        <p>
          Selected feature:
          <span class="selected">{{ selectedFeature?.properties | json }}</span>
        </p>
        <p>Selected feature list length: {{ featureList.length }}</p>
      </div>
      <div>
        <button
          *ngIf="selectedFeature && canAddFeature"
          (click)="onAddFeature(selectedFeature)"
        >
          Add feature
        </button>
        <button *ngIf="featureList.length > 0" (click)="onClearFeatureList()">
          Clear list
        </button>
      </div>
      <!-- 0ayer in creation  -->
      <div *ngIf="overlayInCreation">
        <h3>Overlay in creation</h3>
        <p>Name: <input type="text" [(ngModel)]="overlayName" /></p>
        <p>Overlay: {{ overlayName | titlecase }}</p>
        {{ overlayInCreation?.features | json }}
        <br />
      </div>
    </div>
    <app-map
      class="map"
      [config]="config"
      [overlays]="overlays$ | async"
      [baselayers]="baselayers$ | async"
      [mode]="MODE"
      (selected)="featureSelected($event)"
      (creating)="layerCreation($event)"
    ></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
