mat-sidenav-container {
  width: 100vw;
  height: 100vh;
}

mat-sidenav {
  width: 25vw;
  min-width: 200px;
  max-width: 400px;
  padding: 1.5rem;
}

mat-sidenav-content {
  display: flex;
}

.map {
  width: 75%;
  height: calc(100vh);
}

.infos {
  width: 25%;
  height: calc(100vh);
  padding: 1.5rem;
}
